
*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
